/* font-family: 'PT Sans', sans-serif; 400 700  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./imagenes/353018(2).jpg");
    background-size: cover;
    background-position: center;
    font-family: 'PT Sans', sans-serif;
}

main {
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px white;
    cursor: pointer;
    margin: 5px;
}

.card {
    position: relative;
    top: 25px;
    border: solid 2px black;
    margin:auto;
    width: 375px;
    height: 575px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgb(65, 65, 65);
}

.title2 {
    font-size: 28px;
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.flagImage {
    margin: 20px 0;
    height: 165px;
    border: solid 1px black;
    box-shadow: 0 4px 5px gray;
}

.title {
    font-size: 30px;
    text-shadow: 0 0 10px white;
}

.paisContainer {
    height: 80px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    border: solid 1px black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paisAdivinar {
    font-size: 26px;
    letter-spacing: 8px;
}

.tecladoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .letra, .letraEspecial, .letraEspecial2, .letraEspecial3, #reset, #mostrar {
    border: 1px solid black;
    
} */

#reset, #mostrar {
    padding: 3px 7px;
    margin: 4.2px;
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid white 1px;
    color: white;
    cursor: pointer;
}

.letraSeleccionada {
    text-decoration: underline;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.632);
    color: white;
    padding: 2px 8px;
}

.input {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 28px;
    text-align: center;
    width: 300px;
}

.moreInfo {
    text-align: start;
    margin: 10px 0;
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
}

.point {
    font-size: 28px;
    color: white;
    position: relative;
    top: 10px;
}


/* ESTILOS BIBLIOTECA */

.biblioteca {
    display: flex;
    flex-wrap: wrap;
}

.cardBiblio {
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.2);
    width: 375px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nombrePais {
    color: white;
    font-size: 26px;
    letter-spacing: 2.8px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1200px) {
    body {
        background-position-y: -200px;
    }

    .card {
        box-shadow: 0 10px 50px white;
    }
}