* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./imagenes/353018(2).jpg");
    background-size: cover;
    background-position: center;
}

main {
    text-align: center;
}

.card {
    position: relative;
    top: 50px;
    border: solid 2px black;
    margin:auto;
    width: 375px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px white;
}

.title2 {
    font-size: 26px;
    margin-top: 20px;
    color: white;
}

.flagImage {
    margin: 20px 0;
    height: 165px;
    border: solid 1px black;
    box-shadow: 0 4px 5px gray;
}

.title {
    font-size: 30px;
}

.paisContainer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    border: solid 1px black;
    margin: 10px 20px;
}

.paisAdivinar {
    font-size: 26px;
    letter-spacing: 8px;
}

.tecladoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .letra, .letraEspecial, .letraEspecial2, .letraEspecial3, #reset, #mostrar {
    border: 1px solid black;
    
} */

#reset, #mostrar {
    padding: 3px 7px;
    margin: 4.2px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.letraSeleccionada {
    text-decoration: underline;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.632);
    color: white;
    padding: 2px 8px;
}

.input {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 28px;
    text-align: center;
}

.moreInfo {
    text-align: start;
    margin: 10px 0;
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
}

@media screen and (min-width: 1200px) {
    body {
        background-position-y: -200px;
    }

    .card {
        box-shadow: 0 10px 50px white;
    }
}